@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Outfit:wght@100..900&display=swap');

html {
  height: 100%;
}

header {
  display: flex;
  justify-content: space-between; 
  align-items: center;        
  padding: 1vw 4vw;             
  background: rgb(248, 248, 248);
  position: sticky;
  border-bottom: 3px solid #efefef; 
  top: 0;
  z-index: 100;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: rgb(238, 238, 238);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 28px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 16px; 
  font-weight: 500;
  padding-right: 34px;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #ff6a00;
}

.login a {
  background: linear-gradient(to right, #ff6a00, #ff3300); 
  color: white;
  padding: 8px 18px;
  border-radius: 20px;
  text-decoration: none;
  border: 2px solid transparent;
  transition: all 0.5s ease;      
}

.login a:hover {
  background: rgb(238, 238, 238);      
  color: #333;                    
  border: 2px solid #333;
}

.introduction {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding-top: clamp(40px, 8vw, 100px);
  padding-bottom: clamp(40px, 8vw, 100px);
}

.introduction_upper_text {
  font-size: clamp(36px, 6vw, 80px);
  line-height: 1.0;
}

.introduction_lower_text {
  font-size: clamp(36px, 6vw, 80px);
  line-height: 0.5;
  color: #ff6a00;
}

.introduction_paragraph {
  color: #333;
  font-size: clamp(10px, 2vw, 23px);
  line-height: 1.3;
}

.contact {
    display: flex;
}